.OW-setting-item {
    display: block;
}

.OW-setting-item .setting-item-control {
    justify-content: space-evenly;
    align-items: normal;
}

.OW-setting-item .setting-item-info {
    margin-bottom: 8px;
}

.OW-settings-page .setting-item-control > .checkbox-container{
    margin-left: .5em;
    margin-right: 1em;
}